#header {
  width: 1740px;
  background: #fff;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  .inner {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .util {
    display: flex;
    align-items: center;
    .lang {
      display: flex;
      li {
        a {
          color: #979797;
          margin-right: 25px;
          font-size: 13px;
          font-weight: 300;
        }
      }
      li.on {
        a {
          color: #000;
        }
      }
    }
  }
  .nav {
    .gnb {
      display: flex;
      align-items: center;

      li {
        a {
          font-size: 18px;
          font-weight: 700;
          color: #222;
          display: block;
          padding: 10px 60px;
        }
      }
    }
  }
}
